.duongdan{
    padding: 20px 130px;
    background-color: aliceblue;
}
.duongdan a{
    text-decoration: none;
    color: black;
}
.duongdan a:hover{
    color: #4479d4;
}

.card{
    display: block;
    transition: all 1s ease;
    width: 230px;
}
.card:hover{
    transform: scale(1.05);    
}
.card-detail{
    background-color: #4479d4;
}
.link-cart{
    padding: 10px 10px;
}
.column {
    float: left;
    width: 10%;
    height: 50%;
    background-color: #F7F8F9;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    padding: 15px;
    margin-top: 50px;
}
.column ul li a{
    color: black;
}
.column p{
    font-weight: bold;
}
.box{
    display: flex;
    width: 88%;
    
}
.dsp{
    width: 88%;
    height: 35px;
    line-height: 35px;
    background-color: #F7F8F9;
    margin-left: 145px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding-left: 20px;
}

.category-box{
    width: 200px;
    height: 50px;
    background-color: #F7F8F9;
    border: 1px solid #e4e4e4;
    text-align: center;
    line-height: 50px;
    border-radius: 5px
}
.category-box a{
    text-decoration: none;
    color: black;
}
.category-box a span{
    width: 100px;
}